name: Node.js CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20.18.x'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build  
        run: npm run build
      - name: Lint  
        run: npm run lint
      - name: Test with coverage
        run: npm run test:coverage

